berserk                                                                                                              
influxdb-client                                                                                                      
python-dotenv                                                                                                        
pytz                                                                                                                 
requests                                                                                                             
tenacity